h2 {
  background-color: yellow;
  color: brown;
  padding: 29px;
}

h4 {
  background-color: chartreuse;
}

/* Canvis ThirdBranche */
h5 {
  background-color: cadetblue;
}

h6{
  background-color: aquamarine;
}

p{
  color: green;
}

p span{
  color: magenta;
}